@font-face {
    font-family: Audiowide ;
    src: url(./Public/Fonts/Audiowide/Audiowide-Regular.ttf);
}
:root {
    --primary-color: #33B1B4;
    --secondary-color: #9177a1; 
    --main-color-darker: #504159;
    --dark-color: #000000;
    --light-color: #f5f5f5;
    --primary-font: Audiowide;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* outline: solid red 1px; */
    font-family: var(--primary-font);
}
body{
    background: linear-gradient( var(--primary-color), var(--secondary-color));
}
h1{
    visibility: hidden;
    margin-top: -30px;
    

    @media screen and (min-width:992px){
        visibility: visible;
        margin: 0;
        text-align: center;
        color: var(--light-color) ;
        font-size: 4.5em;
        margin-top: 0.3em;
    }
}

#death, #character{
    height: 50px;
  
}
#blackHeart, #redHeart{
    height: 1em;
    @media screen and (min-width: 992px){
        height: 2em;
}}
#death{ 
    @media screen and (min-width: 992px){
position : absolute;
top: 70%;
left: 14%;
transform: translate(-50%,-50%);
height: 17em;
width: auto;
    }}

    #character{ 
        @media screen and (min-width: 992px){
    position : absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%,-50%);
    height: 10em;
    width: auto;
        }}

.gameIcons, .blackHeartClass, .redHeartClass{
    display: flex;
    justify-content: space-between;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}
.heartIcons{
    display: flex;
    justify-content: space-between;
}
.bubbleQuestion{
    background: var(--light-color);
    margin: 1em 1em 2em 0;
    padding: 1.7em;
    border-radius: 25px;
    text-transform: uppercase;
    @media screen and (min-widht:992px) {
        display:flex;
        justify-content: center;
}}
#clue{
    margin: 2.5em 0 0 0;
    text-transform: lowercase;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 1em 1em 0;
    border-color: transparent var(--light-color) transparent transparent;
    margin-top: 9em;
    @media screen and (min-width:992px) {
        margin-left: 10em;
        border-width: 0 4em 1em 0;
        margin-top: 7em;
    }
    
}
.fullBubble{
    display: flex;
    }

.allResponses{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding-bottom: 2em;
}
.buttonResponse{
    border-radius: 25px;
    height: 4em;
    margin: 0 2em 0 2em;
   border: 3px solid;
   border-color: var(--dark-color) var(--main-color-darker) var(--main-color-darker)var(--dark-color);
   @media screen and (min-width:992px) {
    margin: 0 20em 0 20em;
}
}
footer{
    height: 3.4em;
    text-align: center;
}


